h1 {
    text-align: center;
    font-family: 'Redressed', cursive;
}

h2{
    text-align: center;
    font-family: 'Redressed', cursive;

}

header {
    text-align: center;

}
li {
    text-align: center;
    display: inline;
    margin-right: 75px ;
}

p {
    text-align: center;
}

main {
    text-align: center;
    margin: 0 auto;
}

footer {
    text-align: center
}

img {
    width: 300px;
    border-radius: 40px;
    float: center;
}